.venv
host_cmd_line_interpreter/build
host_cmd_line_interpreter/bin
.DS_Store
tflm_interpreter/build
tflm_interpreter/tflm_interpreter/libs/
tflm_interpreter/tflm_interpreter/__pycache__/
tflm_interpreter/.eggs/
tflm_interpreter/tflm_interpreter.egg-info/
flash_builder/flash_builder/__pycache__/
flash_builder/.eggs/
flash_builder/flash_builder.egg-info/
*.pyc

